<!-- templates/home.html-->
{% extends "base.html" %}
{% block body_block%}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">General Control</h1>

    <div class="row">
        
        <div class="col-lg-6">
            <div class="display-4">
                <button type="button" class="btn btn-primary">Star</button>
                <button type="button" class="btn btn-primary">Pause</button>
                <button type="button" class="btn btn-primary">Stop</button>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Time</h6>
                </div>
                <div class="card-body">
                    <p id="demo"></p>
                </div>
            </div>

            <!-- Brand Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Eventos</h6>
                </div>
                <div class="card-body">
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Pista!</span>
                            </div>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                <div class="display-4 ">
                    <button type="button" class="btn btn-primary">Enviar!</button>
                </div>
                </div>
                
            </div>

        </div>
        <div class="col-xl-3    ">
            <div class="card shadow mb-4">
                <div class="card-header py-3">     
                    <div class="row">                 
                        <i class='fas fa-temperature-high'></i>
                        <h6 class="m-0 font-weight-bold text-primary">:25ºC</h6>       
                    </div>           
                </div>  
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Humid: 25%</h6>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">PH: 25%</h6>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">EC: 25%</h6>
                </div>
            </div>

        </div>
        <div class="col-xl-3 ">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">LLUM: ON</h6>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Ventilador: ON</h6>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">BOMBA OXIGEN: ON</h6>
                </div>
            </div>
            <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">BOMBA AIGUA: ON</h6>
                    </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">BOMBA 1: ON</h6>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">BOMBA 2: ON</h6>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">LLUM: 50cm</h6>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<!-- Display the countdown timer in an element -->


<script>
// Set the date we're counting down to
var countDownDate = new Date();
countDownDate.setMinutes(countDownDate.getMinutes() + 80);
document.getElementById("demo").innerHTML = "80 minutes 0 seconds"

// Update the count down every 1 second
// var x = setInterval(function() {

//   // Get today's date and time
//   var now = new Date().getTime();

//   // Find the distance between now and the count down date
//   var distance = countDownDate - now;

//   var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
//   var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
//   var seconds = Math.floor((distance % (1000 * 60)) / 1000);

//   // Display the result in the element with id="demo"
//   document.getElementById("demo").innerHTML = hours* 60 + minutes + "m " + seconds + "s ";

//   // If the count down is finished, write some text
//   if (distance < 0) {
//     clearInterval(x);
//     document.getElementById("demo").innerHTML = "EXPIRED";
//   }
// }, 1000);
</script>

{% endblock %}